@import '../node_modules/@angular/material/core/theming/all-theme';

@include mat-core();
$app-primary: mat-palette($mat-light-blue, 500, 100, 700);
$app-accent:  mat-palette($mat-pink, A200, A100, A400);
$app-warn:    mat-palette($mat-red);
$app-theme: mat-dark-theme($app-primary, $app-accent, $app-warn);
@include angular-material-theme($app-theme);

.fill-remaining-space {
  flex: 1 1 auto;
}

body { 
  background-color: #f8f8f8;
  font-family: 'Muli', sans-serif;
  padding: 0;
  margin: 0;
  overflow: visible;
  position: initial;
}

.navbar {
  background-color: mat-color($mat-blue, 400, 1);
  padding: 8px 16px;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
}

.elevation-z6{
  box-shadow: 
    0 3px 5px -1px rgba(0,0,0,.2), 
    0 6px 10px 0 rgba(0,0,0,.14), 
    0 1px 18px 0 rgba(0,0,0,.12);
}

.routeactive {
  background-color: mat-color($mat-blue, 800, .8);
}

app-navbar {
  position: relative;
  z-index: 10;
  color: #fff;
  display: block;
}
