@import "../../_palette";

.container {
    padding: 15px;
}

.event-setup-buttons {
    padding-bottom: 20px;
    color: #fff;  
}

.event-table {
    padding: 5px;
    display: table;
    border: 1px solid #42a5f5;
}

.school {
    display: table-row;
}

.detail-buttons {
    color: #fff;
    background-color: $rc-navyblue; 
}

[class^="setup-"] {
    display: table-cell;
    padding: 8px;
}

.setup-selected { width: 20px; }
.setup-name { width: 120px; }
.setup-date { width: 120px; }