@import "_palette";

.page-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.page-container {
  display: flex;
  flex: 1;
}
.page-content {
  flex: 1;
  padding-left: 20px;
}
.side-nav {
  flex: 0 0 fit-content;
  order: -1;
  background-color: $rc-darkgrey;
}

.fill-space { flex: 1 1 auto; }