.page-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.page-container {
  display: flex;
  flex: 1;
}
.page-content {
  flex: 1;
}
.side-nav {
  flex: 0 0 fit-content;
  padding-right: 20px;
}

.fill-space { flex: 1 1 auto; }