.page-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-content: stretch;
}
.side-nav {
  flex: 0 0 fit-content;
  padding-right: 20px;
  flex-direction: column;
}
.page-content {
  flex: 1;
}
.fill-space { flex: 1 1 auto; }