<div class="edit-schools">
    <div *ngIf="newSchool">New School</div>
    <div *ngIf="!newSchool">Edit School</div>
    <form name="school-details">
        <div *ngIf="school">
    <div class="input"><input type="text" placeholder="School Name"[(ngModel)]="school.name" name="name"></div>
    <div class="input"><input placeholder="Contact Name"[(ngModel)]="school.contactName" name="contactName"></div>
    <div class="input"><input placeholder="Contact Email"[(ngModel)]="school.contactEmail" name="contactEmail"></div>
    <div class="input"><input type="text" placeholder="Contact Number"[(ngModel)]="school.contactNumber" name="contactNumber"></div>
    <div class="input"><input type="text" placeholder="Address"[(ngModel)]="school.address" name="address"></div>
    <button class="add-button" (click)="addTeam_Clicked()">+</button>
    <span *ngFor="let team of school.teams; let i=index;" class="input">
        <input type="text" placeholder="Team Name" [(ngModel)]="team.name" name="teamNames{{i}}" />
        <button class="delete-button" (click)="deleteTeam_Clicked(i)">x</button>
        </span>
        </div>
    </form>
    <div class ="buttons">

<button class="btn" (click)="cancelSchool_Clicked()">Cancel</button>
<button class="btn" (click)="saveSchool_Clicked()">Save</button>

    </div>
</div>