@import "../_palette";

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}
.login-panel {
  width: 350px;
}
.action-panel {
  margin-bottom: 0;
}
.loginerr {
  padding-left: 15px;
  padding-top: 15px;
}
.loginbtn {
  padding-left: 15px;
}