<div class="event-details">
    <div class="heading" *ngIf="newRoboEvent">New Event</div>
    <div class="heading" *ngIf="!newRoboEvent">Edit Event</div>
    <form>
        <div class="inputBoxs" *ngIf="roboEvent">
            <input mdInput class="inputBox" type="text" placeholder="Event Name" [(ngModel)]="roboEvent.name" name="name">
            <input mdInput class="inputBox" type="text" placeholder="Event Date" [(ngModel)]="roboEvent.date" name="date">
        </div>
    </form>
    <!--  THIS IS ALL UNFINISHED COMPETION ENTERY
    <div>&nbsp;</div>
    <div class="compsInput-table">
        <div class="compInput-header">
            <div class="compInput-select">&nbsp;</div>
            <div class="compInput-name">Competion Name</div>
            <div class="compInput-type">Competion Score Type</div>
        </div>
        <div class="compInput-content">
            <button>-</button>
            <div>Example Name</div>
            <div>Example Score Type</div>
        </div>
        <div class="compInput-newComp">
            <button md-raised-button class="btn-save">+</button>
            <input type="text" placeholder="Name" [(ngModel)]="roboEvent.competions.name" name="compName">
            <select class="dropdown" id = "myList" placeholder="Score Type">
                <option value = "1">Number</option>
                <option value = "2">Time</option>
                <option value = "3">Boolean</option>
            </select>
        </div>
    </div>
    -->
    <div class="buttons">
        <button md-raised-button class="btn" (click)="btnSaveClicked()">SAVE</button>
        <button md-raised-button class="btn" (click)="btnCancelClicked()">CANCEL</button>
    </div>
</div>