<div class="event-details">
    <div *ngIf="newRoboEvent">New School</div>
    <div *ngIf="!newRoboEvent">Edit School</div>
    <form>
        <div *ngIf="event">
            <input type="text" placeholder="Event Name" name="name">
            <input type="text" placeholder="Event Date" name="date">
        </div>
    </form>
    <div class="buttons">
        <button class="btn" (click)="btnSaveClicked()">SAVE</button>
        <button class="btn" (click)="btnCancelClicked()">CANCLE</button>
    </div>
</div>