@import "../_palette";

.sidenav {
  color: #d3d3d3;
  width: 130px;
  overflow: hidden;
  padding-top: 10px;
}

a {
  color: $rc-darkwhite;
  text-decoration: none;
}
.nav-link-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
}
.nav-link {
  padding: 5px;
}
.nav-divider {
  height: 10px;
  width: 100%;
  background-color: $rc-lightgrey;
}
a:visited { color: $rc-darkwhite; }
a:hover { text-decoration: underline; }
